<div class="container">
  <div class="row">
    <div class="col-9">
        <h1><%= @flat.name %></h1>
        <p><%= @flat.description %></p>
      </div>
    <div class="col-3">
      <img src="<%= @flat.image_url %>" alt="">
      <h5>£<%= @flat.price_per_night %></h5>
    </div>
  </div>
</div> 